h1{
    color:blue;
    font-size: 60px;
}
#nombre{
    color:coral;
}

.name{
    color:violet;
}

.caja{
    width: 800px;
    height: 750px;
    margin: 10px;
    border: 5px solid black;
    padding: 30px;
}

.contenedor{
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}